 /* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); 



*{
    margin: 0;
    padding:0;

}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 62.50%;
    background-color:#f0f0f0;
}
:root{
    --button-color:#5A20CB;
}
.container{
    width: 	1140px;
    margin: auto;
    padding: 20px;

}

a{
    text-decoration: none;

}
.btn{
   color: white;
   background-color: var(--button-color);
   font-size: .9rem;
   padding:10px 20px;
   font-weight: 500;
}
.btn2{
    color: var(--button-color);
    background-color:transparent;
    font-size: .9rem;
    padding:10px 20px;
    font-weight: 500;
 }
.text-center{
    text-align: center;
}
.text-right {
    text-align: right;
    
}

/* header section  */
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.header-section h1{
    font-size:1.5rem;
}
.header-icon .fas{
    font-size:1.5rem;
    margin-left: 20px;

}

/* hero section  */
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;

}
.hero-title{
    width: 40%;

}
.hero-title h1{
    font-size: 2.5rem;
    padding-bottom: 20px;

}
.hero-title p{
    font-size: .8rem;
    font-weight: 500;
    padding-bottom: 30px;
}
.hero-title .btn{
    border-radius: 20px;
}
.fa-arrow-right{
    font-size: .7rem;
    padding-left: 5px;
}
.hero-img{
    background-image: url(image/Circle\ design.svg);
    background-size: cover;
}
/* collection section  */
.section-title h2{
    font-size: 1.5rem;
    padding-bottom: 50px;
}
.collection-wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin-bottom: 20px;
    
}
.collection{
    width: 300px;
    padding: 20px;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    

}
.collection-title{
    padding-bottom:5px;
}
.collection-title h2{
    font-size: 1.5rem;
    font-weight: 500;
}

.collection-title span{
    font-size: 1.5rem;
    font-weight: 500;
}

i.fas.fa-star {
    color: orange;
}

i.fas.fa-star:nth-last-child(2)::after{
    content: "";
    padding-left: 3px;
    
}
.Rating-points span{
    font-weight: 600;
    font-size: .8rem;;
}
.collection h4{
    font-size: .8rem;
    color: #868686;
}

/* secour camera section  */
.secour-cam-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0px;
}
.secour-cam-img img{
    width: 500px;
    border-radius: 10px;
}
.secour-cam-title{
    width: 50%;
}
.secour-cam-title h1{
    font-size:2rem;
    font-weight: 600;

}
.secour-cam-title p{
    font-size:.9rem;
    font-weight: 600;
    padding-bottom: 30px;
}

/* footer  */
#footer{
    width: 100%;
   text-align: center;
   background-color: rgb(31, 29, 29);
   color: white;
   padding: 30px 0px;

}
#footer h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
}
#footer span{
    font-size: .8rem;
    
}
#footer p{
    font-size: .8rem;
    margin-top: 5px;
    
}
#footer .fab{
    font-size: 1.5rem;
    padding-top: 5px;
    margin: 8px;
}

/* Media Query  for mobile */
@media only screen and (max-width: 768px){
    body{
        font-size:50%;
    }
    .collection-wrap{
        display: none;
    }
   
    .container{
        width: 100%;
        margin: auto;
        padding: 5px;
    }
    /* hero section  */
    .hero-section{
        flex-direction: column-reverse;
        padding: 0px 10px;
        
    }
 
    .hero-title{
        width: 70%;
        
        padding-top: 15px;
    }
    .section-title h1{
        text-align: center;
    }
    .hero-title h1{
        font-size:1rem;
    }
    /* collection section  */
    .collection-wrap{
        display: flex;
        flex-direction: column;
        
    }
    .collection{
        width: 70%;
       margin: auto;
    }
  
 
    /* secour-cam  */
    .secour-cam-wrap{
        display: flex;
        flex-direction: column;
    }
    .secour-cam-title{
        width: 70%;
        padding-top: 30px;
    }
    /* footer  */
    #footer{
        width: 100%;
        text-align: center;
    }
}
/* media for tablet  */
@media only screen and (max-width: 992px){
  .container{
      width:100%;
      margin: auto;
      padding: 0px 10px;
  }
  /* hero section  */
  .hero-section{
      width: 100%;
      padding: 0px 10px;
  }
  .header-icon{
      margin-right: 10px;
  }
  /* collection section  */
  .collection-wrap{
      display: gird;
      grid-template-columns: repeat(2,1fr);
  }
  /* secour cam section  */
  .secour-cam-title{
      padding: 0px 10px;
  }
  .secour-cam-title h1 {
      font-size:1.5rem;
  }
  .secour-cam-title p{
      font-size: .8rem;
  }
  /* footer  */
  #footer{
      width: 100%;
  }
}